body {
  margin: 0;
  font-family: "Spartan", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light-grayish-cyan-bg);
}

:root {
  --light-grayish-cyan-bg: hsl(180, 52%, 96%);
  --light-grayish-cyan: hsl(180, 31%, 95%);
  --dark-grayish-cyan: hsl(180, 8%, 52%);
  --very-dark-grayish-cyan: hsl(180, 14%, 20%);
  --desaturated-dark-cyan: hsl(180, 29%, 50%);
}

.App-header {
  height: 140px;
  background: var(--desaturated-dark-cyan);
}
.App-header .bg-desktop{
  display: none;
}
.App-header img {
  height: 100%;
  width: 100%;
}

.App-main {
  margin-top: 50px;
}

section.show-labels-selected {
  width: 88%;
  max-width: 330px;
  margin: 45px auto;
  margin-top: -85px;
  position: relative;
  min-height: 100px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr auto;
}

.show-labels-selected article.card-label {
  display: inline-block;
  padding-right: 0;
}
article.card-label .card-label-content {
  display: grid;
  grid-template-columns: 1fr auto;
}
article.card-label .btn-clear {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 100%;
  margin-left: 5px;
  border: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0;
  background-color: var(--desaturated-dark-cyan);
  cursor: pointer;
}
.clear-labels {
  display: flex;
  align-items: center;
}
.clear-labels button {
  width: 60px;
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: var(--very-dark-grayish-cyan);
  font-weight: 700;
  cursor: pointer;
}
.card-grid {
  width: 88%;
  max-width: 330px;
  margin: 0 auto;
  display: grid;
  grid-gap: 45px;
}

.card-job {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 8px 15px rgba(1, 1, 1, 0.3);
  padding: 0 20px;
  box-sizing: border-box;
}
.border-card {
  border-left: 5px solid var(--desaturated-dark-cyan);
}

.card-info {
  display: grid;
}
.card-info .card-logo .logo {
  margin-top: -25px;
  height: 50px;
  width: 50px;
  border-radius: 100%;
}
.logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.name-company {
  display: flex;
  align-items: center;
}
.name-company h3 {
  font-size: 0.9em;
  margin-right: 15px;
  color: var(--desaturated-dark-cyan);
}
.new-job,
.featured {
  text-transform: uppercase;
  height: 25px;
  padding: 0 8px 0 8px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.new-job {
  background-color: var(--desaturated-dark-cyan);
}
.featured {
  background-color: var(--very-dark-grayish-cyan);
}
.new-job span,
.featured span {
  margin-top: 4px;
  font-size: 0.6em;
  color: #fff;
  font-weight: 700;
}
.card-info h2 {
  margin-top: 0;
  font-size: 0.9em;
  font-weight: 700;
}
.info-job span {
  margin-right: 15px;
  font-size: 0.8em;
  color: var(--dark-grayish-cyan);
}
.card-job hr {
  margin: 18px auto;
}

.card-labels .card-label {
  border-radius: 4px;
  font-size: 0.9em;
  display: inline-block;
  height: 40px;
  margin: 0 14px 14px 0;
  background-color: var(--light-grayish-cyan);
  padding: 0 8px 0 8px;
}
.card-label div {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: var(--desaturated-dark-cyan);
}

footer {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 0.7em;
}
footer a {
  font-weight: 700;
}


/*Responsive*/
@media only screen and (min-width: 800px) {
  .App-header .bg-mobile{
    display: none;
  }
  .App-header .bg-desktop{
    display: block;
  }
  section.card-grid{
    max-width: 850px;
  }
  article.card-job {
    padding: 15px 20px;
    display: grid;
    grid-template-columns: auto 1fr;
  }
  article.card-job hr{
    display: none;
  }
  .card-job .card-info {
    column-gap: 15px;
    row-gap: 5px;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .card-info .card-logo{
    grid-column: 1 / 1;
    grid-row: 1 / -1;
    display: flex;
    align-items: center;
  }
  .card-info .card-logo .logo {
    margin: 0;
    height: 75px;
    width: 75px;
  }
  .card-info .name-company{
    align-items: flex-end;
  }
  .card-info .name-company h3 {
    margin: 0;
    margin-bottom: 3px;
    margin-right: 15px;
  }
  .card-info h2 {
    margin: 0;
    display: flex;
    align-items: center;
  }

  .card-labels {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
  }


  section.show-labels-selected {
    max-width: 850px;
  }
  .show-labels-selected .card-labels{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .show-labels-selected .card-labels .card-label {
    margin-bottom: 0;
  }
}
